<% include ./../header.ejs %>

    <% if(typeof item !== 'undefined'){ %>
        <%= item %>
    <% } %>

    <form action="/library/add" method="post"><br>
      <label for="type">Enter Type: </label><br>
      <input id="type" type="text" name="type"><br>

      <label for="title">Enter title: </label><br>
      <input id="title" type="text" name="title"><br>

      <label for="pages_start">Enter page début: </label><br>
      <input id="pages_start" type="text" name="pages_start"><br>

      <label for="pages_end">Enter page fin: </label><br>
      <input id="pages_end" type="text" name="pages_end"><br>

      <label for="year">Enter year: </label><br>
      <input id="year" type="text" name="year"><br>

      <label for="url">Enter url: </label><br>
      <input id="url" type="text" name="url"><br>

      <!-- @todo Formulaire des auteurs -->

      <input type="submit" value="OK">
    </form>

<% include ./../footer.ejs %>

