<% include ./../header.ejs %>

    <% if(typeof item !== 'undefined'){ %>
        <%= item %>
        <a href="http://localhost:3000/library/update/<%= item._id %>" >Modifier</a>
        <a href="http://localhost:3000/library/delete/<%= item._id %>" >Supprimer</a>
    <% } %>

<% include ./../footer.ejs %>


