<% include ./../header.ejs %>

    <% if(typeof list !== 'undefined'){ %>
      <% list.forEach(function(item){ %>
        <%= item %>
        <a href="http://localhost:3000/library/detail/<%= item._id %>" >Détail</a>
        <a href="http://localhost:3000/library/update/<%= item._id %>" >Modifier</a>
        <a href="http://localhost:3000/library/delete/<%= item._id %>" >Supprimer</a>
        <br>
      <% }) %>
    <% } %>

<% include ./../footer.ejs %>

