<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="http://localhost:3000/library/display"><%= title %></a></h1>
    <p>Welcome to <%= title %></p>